.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.CategoryNav {
  list-style: none;
  justify-items: space-around;
  justify-content: center;
}

.ReviewGrid {
  justify-content: center;
  width: fit-content;
}

.review-list img {
  width: 150px;
  height: 125px;
}

.MuiContainer-maxWidthXs {
  font-size: small;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0px;
  border: 2px solid black;
  border-radius: 30px;
  justify-items: center;
  width: fit-content;
  margin-top: 2px;
}

.FullReviewDiv {
  text-align: center;
  align-items: center;
  margin: 0px;
}

.FullReviewSection {
  text-align: center;
  justify-content: center;
}

.FullReviewCard img {
  align-self: center;
  max-width: 200px;
}

.FullReviewCard {
  margin: 0px;
  text-align: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 25px;
  margin: 50px;
}

.CommentGrid {
  justify-content: center;
}

.ASCbutton {
  background-color: #00b847;
  margin: 3px;
}

.DESCbutton {
  background-color: red;
  margin: 3px;
}

.NavBar {
  display: block;
  flex-direction: column;
}
.CategoryNav {
  display: block;
  max-width: 100%;
}

select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: rgba(199, 199, 199, 0.974);
  background-image: linear-gradient(to top, #f9f9f9, #fff 30%);
  margin: 5px;
}

@media screen and (max-width: 500px) {
  .NavBar {
    display: block;
    flex-direction: column;
  }
  .CategoryNav {
    display: block;
  }
}
